@model F4ConversationCloud.SuperAdmin.Models.TemplateViewModel
@using BuldanaUrban.Domain.Helpers
@using F4ConversationCloud.Domain.Enum
@using System.ComponentModel.DataAnnotations

@{
    var categoryType = string.Empty;
    categoryType = Model.TemplateCategoryList
            .Where(x => x.Value == Model.TemplateCategory.ToString())
            .Select(x => x.Text)
            .FirstOrDefault();

    var m = Model;
}
<div class="content bg-light">
    <div class="main-content">
        <div class="container-fluid">

            <div class="template-content-wrap">
                <div class="template-creation-content">
                    <div class="creation-card template-creation">

                        <h3 class="mb-2">Set Up Your Template</h3>
                        <p>Choose the category that best describes your message template. Then select the type of message you want to send.</p>
                        <input asp-for="TemplateCategory" type="hidden" />
                        <ul class="nav nav-tabs conversation-list" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing" type="button" role="tab" aria-controls="marketing" aria-selected="true">
                                    <span class="marketing-icon tab-icon"></span> Marketing
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="utility-tab" data-bs-toggle="tab" data-bs-target="#utility" type="button" role="tab" aria-controls="utility" aria-selected="false">
                                    <span class="utlity-icon tab-icon"></span> Utility
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="authentication-tab" data-bs-toggle="tab" data-bs-target="#authentication" type="button" role="tab" aria-controls="authentication" aria-selected="false">
                                    <span class="authentication-icon tab-icon"></span> Authentication
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pb-0" id="myTabContent">
                            @if (Model.TemplateCategory == (int)TemplateModuleType.Marketing || Model.TemplateCategory == 0)
                            {
                                <div class="tab-pane fade show active" id="marketing" role="tabpanel" aria-labelledby="marketing">
                                    <partial name="_MarketingTemplateTypeOptions" model="@Model" />
                                </div>
                            }
                            else if (Model.TemplateCategory == (int)TemplateModuleType.Utility)
                            {
                                <div class="tab-pane fade show active" id="utility" role="tabpanel" aria-labelledby="Utility">
                                    <partial name="_UtilityTemplateTypeOptions" model="@Model" />
                                </div>
                            }
                            else if (Model.TemplateCategory == (int)TemplateModuleType.Authentication)
                            {
                                <div class="tab-pane fade show active" id="authentication" role="tabpanel" aria-labelledby="Authentication">
                                    <partial name="_AuthenticationTemplateTypeOptions" model="@Model" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="template-creation-preview">
                    <div class="template-preview-card creation-card">
                        <h4>Template Preview</h4>
                        <div class="template-preview">
                            <div class="template-white-card">

                                <div class="swiper useCasesSwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide swiper-card">
                                            <div class="template-slide-card">
                                                @* <span><img src="images/card-img-03.png"></span> *@
                                                <div class="description">
                                                    <p>Dear {{1}}</p>
                                                    <p>We are excited to present you with an exclusive offer ! {{}}</p>
                                                </div>
                                                <div class="time">1:59 PM</div>
                                            </div>
                                            <div class="buy-link">
                                                <a href="#"><i class="buy-icon"></i> Buy Now</a>
                                                <a href="#"><i class="forward"></i> My Account Balance</a>


                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-card">
                                            <div class="template-slide-card">
                                                @* <span><img src="images/card-img-03.png"></span> *@
                                                <div class="description">
                                                    <p>Dear {{1}}</p>
                                                    <p>We are excited to present you with an exclusive offer ! {{}}</p>
                                                </div>
                                                <div class="time">1:59 PM</div>
                                            </div>
                                            <div class="buy-link">
                                                <a href="#"><i class="buy-icon"></i> Buy Now</a>
                                                <a href="#"><i class="forward"></i> My Account Balance</a>
                                                <!-- <a href="#"><i class="backward"></i> Yes </a>
                                                <a href="#"><i class="call"></i> Call Us </a> -->

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>


                            </div>
                        </div>
                        <div class="mt-3 guidline">
                            <h4 class="mb-1">This template is good for</h4>
                            <p>Welcome messages, promotions, offers, coupons, newsletters, announcements</p>
                        </div>
                        <div class="mt-3 guidline">
                            <h4 class="mb-1">Template areas you can customize</h4>
                            <p>Media, header, body, footer, button</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-strip">
    <div class="bottom-container">
        <button type="button" class="btn secondary-btn">Discard</button>
        <button type="button" class="btn primary-btn">Next</button>
        <button type="submit" class="btn primary-btn" style="display:none;">Submit for review</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('.nav-link').on('click', function () {
                const selectedTabId = $(this).attr('id');
                let categoryValue;
                let categoryName = "";

                switch (selectedTabId) {
                    case 'marketing-tab':
                        categoryValue = @((int)TemplateModuleType.Marketing);
                        categoryName = "@(TemplateModuleType.Marketing.Get<DisplayAttribute>().Name)";
                        break;
                    case 'utility-tab':
                        categoryValue = @((int)TemplateModuleType.Utility);
                        categoryName = "@(TemplateModuleType.Utility.Get<DisplayAttribute>().Name)";
                        break;
                    case 'authentication-tab':
                        categoryValue = @((int)TemplateModuleType.Authentication);
                        categoryName = "@(TemplateModuleType.Authentication.Get<DisplayAttribute>().Name)";
                        break;
                }

                $('#TemplateCategory').val(categoryValue);

                $('#myTabContent').show();

                var req = {
                    TemplateCategory: parseInt(categoryValue),
                    TemplateCategoryName: categoryName
                };

                var url = "/TemplateManagement/GetTemplateTypePartialView";

                ajaxHelper.ajaxPost(url, null, req, function (response) {
                    $('#myTabContent').html(response);
                    $('#template-category').hide();
                    $('#previous-btn').show();
                    commonHelper.showHideLoader(false);
                }, null);
            });
        });
    </script>
}