@model F4ConversationCloud.SuperAdmin.Models.TemplateViewModel
@using BuldanaUrban.Domain.Helpers
@using F4ConversationCloud.Domain.Enum
@using System.ComponentModel.DataAnnotations

@{
    var categoryType = string.Empty;
    categoryType = Model.TemplateCategoryList
            .Where(x => x.Value == Model.TemplateCategory.ToString())
            .Select(x => x.Text)
            .FirstOrDefault();

    var m = Model;
}

<form asp-action="CreateTemplate" method="post" enctype="multipart/form-data" id="mainForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="PageMode" type="hidden" value="Edit"/>
    <input asp-for="TemplateType" type="hidden"/>
    <input asp-for="TemplateCategory" type="hidden"/>
    <input asp-for="WABAId" type="hidden"/>
    <input asp-for="ClientInfoId" type="hidden"/>
    <input asp-for="MetaConfigId" type="hidden"/>
    <input asp-for="TemplateId" type="hidden"/>
    <input asp-for="TemplateTableId" type="hidden"/>

    <div class="content bg-light">
        <div class="main-content">
            <div class="container-fluid">
                <div class="template-content-wrap">
                    <div class="template-creation-content" id="partialForTemplateForm">
                        @if (categoryType == TemplateModuleType.Marketing.Get<DisplayAttribute>().Name)
                        {
                            if (Model.TemplateType == (int)MarketingTemplateType.Default)
                            {
                                <partial name="_MarketingDefaultTemplate" model="@Model" />
                            }
                            else if (Model.TemplateType == (int)MarketingTemplateType.Catalogue)
                            {
                                <partial name="_MarketingCatalogueTemplate" model="@Model" />
                            }
                            else if (Model.TemplateType == (int)MarketingTemplateType.CallingPermissionsRequest)
                            {
                                <partial name="_MarketingCallingPermissionsRequestTemplate" model="@Model" />
                            }
                            else if (Model.TemplateType == (int)MarketingTemplateType.Carousel)
                            {
                                <partial name="_MarketingCarouselTemplate" model="@Model" />
                            }
                        }
                        else if (categoryType == TemplateModuleType.Utility.Get<DisplayAttribute>().Name)
                        {
                            if (Model.TemplateType == (int)UtilityTemplateType.Default)
                            {
                                <partial name="_UtilityDefaultTemplate" model="@Model" />
                            }
                            else if (Model.TemplateType == (int)UtilityTemplateType.CallingPermissionsRequest)
                            {
                                <partial name="_UtilityCallingPermissionsRequestTemplate" model="@Model" />
                            }
                            else if (Model.TemplateType == (int)UtilityTemplateType.Carousel)
                            {
                                <partial name="_UtilityCarouselTemplate" model="@Model" />
                            }
                        }
                        else if (categoryType == TemplateModuleType.Authentication.Get<DisplayAttribute>().Name
                        && Model.TemplateType == (int)AuthenticationTemplateType.OneTimePasscode)
                        {
                            <partial name="_AuthenticationOneTimePasscodeTemplate" model="@Model" />
                        }
                    </div>
                    <div class="template-creation-preview">
                        <div class="template-preview-card creation-card">
                            <h4>Template Preview</h4>

                            <div class="template-preview" id="carousel-template-preview" style="display:none;">
                                <div class="template-white-card">
                                    <div class="swiper useCasesSwiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide swiper-card">
                                                <div class="template-slide-card">
                                                    @* <span><img src="images/card-img-03.png"></span> *@
                                                    <div class="description">
                                                        <h6 class="variables-title">Hey {{customer_name}},</h6>
                                                        <p>Dear {{1}}</p>
                                                        <p>We are excited to present you with an exclusive offer ! {{}}</p>
                                                    </div>
                                                    <div class="time">1:59 PM</div>
                                                </div>
                                                <div class="buy-link">
                                                    <a href="#"><i class="buy-icon"></i> Buy Now</a>
                                                    <a href="#"><i class="forward"></i> My Account Balance</a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide swiper-card">
                                                <div class="template-slide-card">
                                                    @* <span><img src="images/card-img-03.png"></span> *@
                                                    <div class="description">
                                                        <p>Dear {{1}}</p>
                                                        <p>We are excited to present you with an exclusive offer ! {{}}</p>
                                                    </div>
                                                    <div class="time">1:59 PM</div>
                                                </div>
                                                <div class="buy-link">
                                                    <a href="#"><i class="buy-icon"></i> Buy Now</a>
                                                    <a href="#"><i class="forward"></i> My Account Balance</a>
                                                    <!-- <a href="#"><i class="backward"></i> Yes </a>
                                                    <a href="#"><i class="call"></i> Call Us </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>

                            <div class="template-preview" id="template-preview">
                                <div class="message-chat d-none">
                                    <p>Check out our exclusive festival offers below</p>
                                    <div class="time">11:59</div>
                                </div>
                                <div class="swiper-card">
                                    <div class="template-slide-card">
                                        @* <span><img src="images/card-img-03.png"></span> *@
                                        <div class="description">
                                            <h6 class="variables-title" id="header-text-preview" style="display:none;"></h6>
                                            <div id="message-body"></div>
                                            <span class="description-small-text" id="footer-text"></span>
                                        </div>
                                        <div class="time">1:59 PM</div>
                                    </div>
                                    @* <div class="buy-link">
                                        <a href="#"><i class="buy-icon"></i> Buy Now</a>
                                        <a href="#"><i class="forward"></i> My Account Balance</a>
                                        <a href="#"><i class="backward"></i> Yes </a>
                                        <a href="#"><i class="call"></i> Call Us </a>
                                        <a href="#"><i class="copy-code"></i> Copy Code </a>
                                    </div> *@
                                </div>

                                <div class="swiper-card d-none">
                                    <div class="template-slide-card">

                                        <div class="description">
                                            <h6 class="variables-title">Hey {{customer_name}},</h6>
                                            <p>Discover our adorable new range of baby toys — safe, colorful, and fun for your little one! From rattles to learning blocks, there’s something special for every baby.</p>
                                            <span class="description-small-text">Tap below to explore now</span>
                                        </div>
                                        <div class="time">1:59 PM</div>
                                    </div>
                                    <div class="buy-link">
                                        <a href="#"><i class="buy-icon"></i> Shop Now</a>
                                    </div>
                                </div>

                                <div class="swiper-card d-none">
                                    <div class="template-slide-card">
                                        <span class="default-image image-smaple"></span>
                                    </div>
                                </div>


                                <div class="swiper-card d-none">
                                    <div class="template-slide-card">
                                        <span class="default-image location"></span>
                                    </div>
                                </div>

                                <div class="swiper-card d-none">
                                    <div class="template-slide-card">
                                        <span class="default-image video"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-3 guidline">
                                <h4 class="mb-1">This template is good for</h4>
                                <p>Welcome messages, promotions, offers, coupons, newsletters, announcements</p>
                            </div>
                            <div class="mt-3 guidline">
                                <h4 class="mb-1">Template areas you can customize</h4>
                                <p>Media, header, body, footer, button</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-strip">
        <div class="bottom-container">
            <button type="button" class="btn secondary-btn" id="discard-btn">Discard</button>
            @* <button type="button" class="btn secondary-btn" id="previous-btn" style="display:none;">Previous</button> *@
            @* <button type="button" class="btn primary-btn" id="next-btn">Next</button> *@
            <button type="submit" class="btn primary-btn" id="submit-btn" style="display:none;">Submit for review</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/unobtrusiveHelper.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@latest/index.js';
    </script>
    <script>
        var reqModel = @Html.Raw(Json.Serialize(Model));
        $(document).ready(function () {
            var storedData = JSON.parse(localStorage.getItem('ClientData'));
            
            $('#ClientInfoId').val(storedData.ClientInfoId);
            $('#WABAId').val(storedData.WABAId);
            $('#MetaConfigId').val(storedData.MetaConfigId);
            LoadForm(reqModel);
        });

        function LoadForm(reqModel) {
            commonHelper.showHideLoader(true);
            var reqModel = @Html.Raw(Json.Serialize(Model));

            $('#partialForTemplateForm').show();
            var url = "/TemplateManagement/GetTemplateFormPartialView";

            ajaxHelper.ajaxPost(url, null, reqModel, function (response) {
                $('#partialForTemplateForm').html(response);
                $('#first-page').hide();
                // $('#next-btn').hide();
                // $('#discard-btn').hide();
                $('#submit-btn').show();
                // $('#previous-btn').show();
                $('#title').text('untitled');
                $('#language-title').text('English');

                var $form = $("#mainForm");
                $form.removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($form);

                $('#title').text(reqModel.templateName);
                $('#header-text-preview').show();
                $('#header-text-preview').text(reqModel.header);
                $('#message-body').html(reqModel.messageBody);
                $('#footer-text').text(reqModel.footer);

                if (reqModel.headerVariableValue != ''){
                    $('#variable-card-header').show();
                    $('#header-add-btn').prop("disabled", true);
                }
                $('input[name="MediaType"][value="' + reqModel.mediaType + '"]').prop('checked', true);
                $('[name="MediaType"]').trigger('change');

                var variableCounter = 1;
                var selectedVariableType = null;

                ClassicEditor
                    .create(document.querySelector('#MessageBody'), {
                        toolbar: [
                            'bold', 'italic', 'underline', 'strikethrough',
                            'numberedList', 'bulletedList',
                            'link'
                        ],
                        initialData: reqModel.messageBody
                    })
                    .then(editor => {
                        editorInstance = editor;
                        var firstcontent = editor.getData();
                        $('#message-body').html(firstcontent);
                        let previousVariables = [];
                        let bodyValuesCache = {};

                        // Live validation on content change
                        editor.model.document.on('change:data', () => {
                            var content = editor.getData();
                            $('#message-body').html(content);
                            $("#submit-btn").prop("disabled", content === '');
                            validateWhatsAppVariables(content);
                            validateSubmitButton(editor);

                            var variables = extractUniqueVariables(content);

                            const variablesChanged =
                            variables.length !== previousVariables.length ||
                            variables.some((v, i) => v !== previousVariables[i]);

                            if (!variablesChanged) return;

                            // Cache current values
                            bodyValuesCache = {};
                            document.querySelectorAll('#variable-card-body .body-var-row').forEach(row => {
                                const number = row.getAttribute('data-number');
                                const input = row.querySelector('input[name^="bodyVariables"][name$=".BodyVariableName"]');
                                if (input) {
                                    bodyValuesCache[number] = input.value;
                                }
                            });

                            previousVariables = [...variables];

                            $.ajax({
                                url: '/TemplateManagement/RenderBodyVariablesPartial', // your controller action
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(variables),
                                success: function (html) {
                                    $('#variable-card').show(); // show the whole card if needed
                                    $('#variable-card-body').html(html).show();

                                    document.querySelectorAll('#variable-card-body .body-var-row').forEach(row => {
                                        const number = row.getAttribute('data-number');
                                        const input = row.querySelector('input[name^="bodyVariables"][name$=".BodyVariableName"]');
                                        if (input && bodyValuesCache[number]) {
                                            input.value = bodyValuesCache[number];
                                        }
                                    });

                                    bindBodyVariableInputListener(editor);
                                    validateSubmitButton(editor);
                                },
                                error: function () {
                                    commonHelper.showError("Failed to load variable partials.");
                                }
                            });
                        });

                        // Emoji picker
                        var picker = document.getElementById('picker');
                        picker.addEventListener('emoji-click', event => {
                            editor.model.change(writer => {
                                var insertPosition = editor.model.document.selection.getFirstPosition();
                                writer.insertText(event.detail.unicode, insertPosition);
                            });
                        });

                        // Variable insertion
                        $(document).on("click", "#add-body-variable", function () {
                            selectedVariableType = $('input[name="VariableType"]:checked').val();

                            if (!selectedVariableType) {
                               commonHelper.showError("Please select type of variable.");
                               return;
                            }

                            // Use current editor content to determine the next available number
                            const currentContent = editor.getData();
                            const nextNumber = getNextAvailableVariableNumberFromContent(currentContent);

                            const variableText = ` {{${nextNumber}}}`;
                            editor.model.change(writer => {
                                const insertPosition = editor.model.document.selection.getFirstPosition();
                                writer.insertText(variableText, insertPosition);
                            });

                            // Trigger validation after insertion
                            const updatedContent = editor.getData();
                            validateWhatsAppVariables(updatedContent);
                        });

                        function getNextAvailableVariableNumberFromContent(content) {
                            const regex = /{{\d+}}/g;
                            const matches = [...content.matchAll(regex)];
                            const usedNumbers = matches.map(m => parseInt(m[0].replace(/[{}]/g, ''), 10));

                            if (usedNumbers.length === 0) return 1;

                            // Find the smallest missing positive integer starting at 1
                            const set = new Set(usedNumbers);
                            let i = 1;
                            while (set.has(i)) i++;
                            return i;
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });



                    function extractUniqueVariables(content) {
                        const regex = /\{\{(\d+)\}\}/g;
                        const found = new Set();
                        let match;
                        while ((match = regex.exec(content)) !== null) {
                            found.add(match[1]); // only the number part
                        }
                        return Array.from(found).sort((a, b) => a - b); // sorted for consistency
                    }

                    // Bind live validation on typing inside the body variable inputs
                    function bindBodyVariableInputListener(editor) {
                        $('#variable-card-body').off('input.body-var') // avoid duplicate binding
                           .on('input.body-var', 'input[name$=".BodyVariableName"]', function () {
                           validateSubmitButton(editor);
                        });
                    }

                    document.addEventListener('click', function (event) {
                        const emojiBtn = document.getElementById('emoji-btn');
                        const emojiCard = document.getElementById('emoji-card');

                        if (emojiBtn.contains(event.target)) {
                            // Toggle emoji picker
                            emojiCard.style.display = emojiCard.style.display === 'none' ? 'block' : 'none';
                        } else if (!emojiCard.contains(event.target)) {
                            // Clicked outside emoji picker
                            emojiCard.style.display = 'none';
                        }
                    });

                // Variable type selection
                document.querySelectorAll('input[name="VariableType"]').forEach(radio => {
                    radio.addEventListener('change', function () {
                        selectedVariableType = this.value;
                    });
                });

                // WhatsApp variable validation logic
                function validateWhatsAppVariables(content) {
                    var regex = /{{\d+}}/g;
                    var matches = [...content.matchAll(regex)];

                    var numbers = matches.map(m => parseInt(m[0].replace(/[{}]/g, '')));
                    var uniqueNumbers = [...new Set(numbers)];

                    var errorMessage = "";

                    // Rule 1: No duplicates
                    if (numbers.length !== uniqueNumbers.length) {
                        errorMessage += "Duplicate variables found. "
                    }

                    // Rule 2: Sequential starting from 1
                    uniqueNumbers.sort((a, b) => a - b);
                    for (var i = 0; i < uniqueNumbers.length; i++) {
                        if (uniqueNumbers[i] !== i + 1) {
                            errorMessage += "Variables must be sequential starting from {{1}}. "
                        }
                    }

                    // Rule 3: Each variable must be surrounded by at least 3 normal words
                    var hasSurroundingWordError = false;

                    for (var match of matches) {
                        var index = match.index;
                        const varLen = match[0].length;

                        var before = content.substring(0, index);
                        var after = content.substring(index + varLen);

                        var beforeCount = countWordsExcludingVariables(before);
                        var afterCount = countWordsExcludingVariables(after);

                        if (!(beforeCount >= 2 && afterCount >= 2)) {
                            hasSurroundingWordError = true;
                            break;
                        }
                    }

                    if (hasSurroundingWordError) {
                        errorMessage += "Each variable must be surrounded by at least 4 words combined before and after.";
                    }

                    var errorSpan = document.getElementById("messageBodyError");

                    if (errorMessage != '') {
                        errorSpan.innerText = errorMessage.trim();
                        errorSpan.style.display = "block";
                        //$("#submit-btn").prop("disabled", true);
                    } else {
                        errorSpan.innerText = "";
                        errorSpan.style.display = "none";
                        //$("#submit-btn").prop("disabled", false);
                    }

                    return errorMessage;
                }

                function countWordsExcludingVariables(text) {
                    if (!text) return 0;

                    // 1) Normalize HTML entities that behave like spaces
                    let clean = text.replace(/&nbsp;/gi, ' ').replace(/\u00A0/g, ' '); // non-breaking space

                    // 2) Remove HTML tags (CKEditor outputs real <tags>, not &lt; &gt;)
                    clean = clean.replace(/<[^>]*>/g, ' ');

                    // 3) Remove all variables like {{1}}, {{22}}, ...
                    clean = clean.replace(/{{\d+}}/g, ' ');

                    // 4) Normalize whitespace
                    clean = clean.replace(/\s+/g, ' ').trim();

                    // 5) Count word tokens (Unicode letters/digits/underscore)
                    // If your environment doesn't support \p{L} and \p{N}, fall back to /[A-Za-z0-9_]+/g
                    const wordMatches = clean.match(/\b[\p{L}\p{N}_]+\b/gu) || [];
                    return wordMatches.length;
                }

                commonHelper.showHideLoader(false);
            }, null);
        }

        // $(document).on('click', '#previous-btn', function () {
        //     commonHelper.showHideLoader(true);
        //     $('#partialForTemplateForm').hide();
        //     $('#first-page').show();
        //     $('#next-btn').show();
        //     $('#discard-btn').show();
        //     $('#submit-btn').hide();
        //     $('#previous-btn').hide();
        //     commonHelper.showHideLoader(false);
        // });

        $(document).on('input', '[name="TemplateName"]', function () {
            var nameVal = $(this).val().trim();

            if (nameVal == ''){
                $('#title').text('untitled');
            }
            else{
                $('#title').text(nameVal);
            }
        });

        $(document).on('change', '[name="Language"]', function () {
            var languageVal = $('[name="Language"] option:selected').text();

            if (languageVal == ''){
                $('#language-title').text('');
            }
            else{
                $('#language-title').text(languageVal);
            }
        });

        $(document).on('change', '[name="MediaType"]', function () {
            var selectedValue = $('input[name="MediaType"]:checked').val();
            var selectedText = $('input[name="MediaType"]:checked').next('label').text().trim();
            var $fileInput = $('#UploadedFile');
            var $attachment = $('#attachment');
            var $existingFileLink = $('#existingFileLink');
            var $fileValidationMessage = $('[data-valmsg-for="File"]');

            $fileInput.val('');
            $existingFileLink.html('');
            $fileInput.removeAttr('accept');

            var hasValidationError = $fileValidationMessage.text().trim().length > 0;

            if (selectedValue > 0 && selectedText != 'Location') {
                $attachment.show();

                switch (selectedText) {
                    case 'Image':
                        $fileInput.attr('accept', '.jpg,.jpeg,.png');
                        break;
                    case 'Video':
                        $fileInput.attr('accept', '.mp4,.avi,.mov,.wmv');
                        break;
                    case 'Document':
                        $fileInput.attr('accept', '.pdf,.doc,.docx,.xls,.xlsx');
                        break;
                }
            }else if (!hasValidationError) {
                $attachment.hide();
            }

            if (selectedValue > 0){
                $("#header-add-btn").attr("disabled", true);
                $('#Header').attr('readonly', true);
            }
            else{
                $("#header-add-btn").removeAttr("disabled");
                $('#Header').removeAttr('readonly');
            }
        });

        $(document).on('click', '#header-add-btn', function (e) {
            e.preventDefault();

            var headerInput = document.querySelector("input[name='Header']");
            var variableTypeSelect = $('input[name="VariableType"]:checked').next('label').text().trim();
            var variableToInsert = "";

            if (variableTypeSelect == null || variableTypeSelect == ''){
                commonHelper.showError("Please select type of variable.");
                return;
            } else if (variableTypeSelect === "Number") {
                variableToInsert = "{{1}}";
            } else if (variableTypeSelect === "Name") {
                variableToInsert = "{{variable_name}}";
            }
            $('#variable-card').show();
            $('#variable-card-header').show();
            $('[name="HeaderVariableName"]').val("{{1}}");
            $('#header-text-preview').show();
            $('#header-text-preview').text("{{1}}");
            $("#submit-btn").prop("disabled", true);

            // Check if variable already exists
            if (!headerInput.value.includes("{{")) {
                headerInput.value += variableToInsert;
                $('#header-add-btn').attr('disabled', true);
            } else {
                commonHelper.showError("Only one variable is supported in the header.");
            }
        });

        function validateSubmitButton(editor) {
            const content = editor.getData().trim();
            const contentEmpty = content === '';

            const messageBodyErrorVisible = $('#messageBodyError').css('display') !== 'none';
            //console.log(messageBodyErrorVisible);
            const bodyInputs = document.querySelectorAll(
                '#variable-card-body input[name^="bodyVariables"][name$=".BodyVariableName"]'
            );
            const anyBodyEmpty = Array.from(bodyInputs).some(inp => !inp.value.trim());

            // Header variable logic
            const headerText = $('[name="Header"]').val()?.trim() || '';
            const headerHasVariable = headerText.includes('{{1}}');
            const headerVariableName = $('[name="HeaderVariableName"]').val()?.trim() || '';
            const headerVariableValue = $('[name="HeaderVariableValue"]').val()?.trim() || '';
            const headerInvalid = headerHasVariable && (headerVariableName === '' || headerVariableValue === '');

            // Final check
            const shouldDisable = contentEmpty || messageBodyErrorVisible || anyBodyEmpty || headerInvalid;

            $('#submit-btn').prop('disabled', shouldDisable);
        }

        $(document).on('input', '[name="Header"]', function () {
            var headerVal = $(this).val().trim();

            // Enable the button only if the input is empty
            $('#header-add-btn').attr('disabled', headerVal !== '' && headerVal.includes("{{1}}"));

            // Trigger validation and store result
            var isValid = $(this).valid();

            // Show/hide variable card based on validity
            if (isValid && headerVal != '' && headerVal.includes("{{1}}")) {
                $('#variable-card').show();
                $('#variable-card-header').show();
                // Update the readonly input with asp-for="HeaderVariableName"
                $('[name="HeaderVariableName"]').val("{{1}}");
                $('#header-text-preview').show();
                $('#header-text-preview').text(headerVal);
                $("#submit-btn").prop("disabled", true);
            }
            else {
                $('#variable-card').hide();
                $('#variable-card-header').hide();
                $('[name="HeaderVariableName"]').val('');
                $('#header-text-preview').hide();
                $("#submit-btn").prop("disabled", false);
            }

            validateSubmitButton(editorInstance);
        });

        $(document).on('input', '[name="HeaderVariableValue"]', function () {
            validateSubmitButton(editorInstance);
            // var headerVariableVal = $(this).val().trim();
            // if (headerVariableVal != null && headerVariableVal != ''){
            //     $("#submit-btn").prop("disabled", false);
            // }
            // else{
            //     $("#submit-btn").prop("disabled", true);
            // }
        });

        $(document).on('change', '[name="VariableType"]', function () {
            $('#header-add-btn').attr('disabled', false);
            var newMessage = "";
            var variableTypeSelect = $('input[name="VariableType"]:checked').next('label').text().trim();

            if (variableTypeSelect === "Number") {
                newMessage = "Variable parameters must be whole numbers with two sets of curly brackets (e.g., {{1}}).";
            } else if (variableTypeSelect === "Name") {
                newMessage = "Variable parameters must be lowercase characters, underscores and numbers with two sets of curly brackets (e.g., {{customer_name}}, {{order_id}}).";
            }

            var $headerInput = $('[name="Header"]');

            // Update the data attribute (optional, for consistency)
            $headerInput.attr('data-val-headervariableformat', newMessage);

            // Update the validator's internal message directly
            var validator = $headerInput.closest("form").validate();
            validator.settings.messages.Header = validator.settings.messages.Header || {};
            validator.settings.messages.Header.headervariableformat = newMessage;

            $('#Header').valid();
        });

        $(document).on('input', '[name="Footer"]', function () {
            var footerVal = $(this).val().trim();

            $('#footer-text').text(footerVal);
        });

        $(document).on('submit', 'form', function (e) {
            if (this.checkValidity()) {
                commonHelper.showHideLoader(true);
            } else {
                commonHelper.showHideLoader(false);
            }
        });

        $(document).on('click', '#discard-btn', function (e) {
            var storedData = JSON.parse(localStorage.getItem('ClientData'));
            location.href = '@Url.Action("ClientDetails", "ClientManagement")' + "/" + encodeURIComponent(storedData.MetaConfigId);
        });
    </script>
}