@model F4ConversationCloud.SuperAdmin.Models.ClientUserListViewModel
@{
    ViewData["Title"] = "Client Users";
}

<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Client Users </h3>
        <div class="card padding">
            @* <div class="filterWrapper form-wrapper">
                <div class="filterwrap">
                    <ul class="filter-list">
                        <li>
                            <div>
                                <label>Search</label>
                                <div class="input-group">
                                    <input type="text" asp-for="SearchString" class="form-control srcIcon" placeholder="Search" id="searchInput" />
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>Sort By</label>
                                <select class="form-select">
                                    <option selected>Last Updated</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <button class="btn secondary-btn" id="reset-filters"><i class="reset"></i></button>
                </div>
            </div> *@
            <div class="table-responsive">
                <table class="table user-table form-wrapper">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.SrNo)
                            </th>
                            <th>
                                Client Name
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Name)
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Email)
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Role)
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.CreatedOn)
                                <input type="text"
                                       id="datepicker1"
                                       class="form-control datepicker search-form-control"
                                       placeholder="Select Date" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.UpdatedOn)
                                <input type="text"
                                       id="datepicker1"
                                       class="form-control datepicker search-form-control"
                                       placeholder="Select Date" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.IsActive)
                                <select class="form-select">
                                    <option selected>Select Status</option>
                                    <option>Disabled</option>
                                    <option>Enabled</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.data.Any())
                        {
                            <tr>
                                <td colspan="8" class="text-center">No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SrNo)
                                    </td>
                                    <td>
                                        <span class="text-black fw-semibold d-block">Buldana Urban</span>
                                        <span class="buisness-category"><span class="fw-medium">Category :</span>  Bank</span>
                                        <span class="buisness-category"><span class="fw-medium">Client Id :</span> Cl-00001</span>
                                    </td>
                                    <td>
                                        <span class="text-black fw-medium d-block">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </span>
                                        <a href="clients-subuser-listing.html" class="text-decoration-none fw-light">
                                            <span class="">Users :</span> 2
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedOn)
                                    </td>
                                    <td>
                                        @{
                                            var check = (item.IsActive ? "checked" : "");
                                        }
                                        <div class="action">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @check>
                                            </div>
                                        </div>
                                    </td>
                                    @* @if (item.IsActive)
                                    {
                                        <td><span class="badge success">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge danger">Inactive</span></td>
                                    } *@
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_Pagination" model="new PaginationViewModel { PageNumber = Model.PageNumber, PageSize = Model.PageSize, TotalCount = Model.TotalCount }" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadData() {
            let searchString = $("[name=SearchString]").val();
            let status = $("[name=Status]").val();
            let pageNumber = 1;
            location.href = '@Url.Action("List", "ClientUserManagement")' +
                '?SearchString=' + searchString +
                '&Status=' + encodeURIComponent(status) +
                '&PageNumber=' + pageNumber;
        }

        $("#searchInput").on("keypress", function (e) {
            if (e.which === 13) {
                loadData();
            }
        });

        $(".page-link").click(function () {
            var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                let searchString = $("[name=SearchString]").val();
                let status = $("[name=Status]").val();

                location.href = '@Url.Action("List", "ClientUserManagement")' +
                    '?SearchString=' + searchString +
                    '&Status=' + encodeURIComponent(status) +
                    '&PageNumber=' + pageNumber;
            }
        });

        // $("#reset-filters").click(function(){
        //     $("[name=SearchString]").val('');
        //     //$("[name=Status]").val(true);
        //     loadData();
        // });

    </script>
}