@using BuldanaUrban.Domain.Helpers
@using F4ConversationCloud.Domain.Entities.SuperAdmin
@using F4ConversationCloud.Domain.Enum
@using System.ComponentModel.DataAnnotations
@model F4ConversationCloud.SuperAdmin.Models.ClientRegistrationListViewModel
@{
    ViewData["Title"] = "Register User";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header-content d-flex justify-content-between mb-3">
                <h3 class="sub-heading mb-0">Registrations <span class="light-text ms-1">(@Model.TotalCount)</span> </h3>
                <div>
                    <a href="@Url.Action("Create", "ClientRegistration")" type="button" class="btn primary-btn add d-flex">Register User</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table user-table form-wrapper">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.SrNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.OrganizationsName)
                                <div class="input-group">
                                    <input asp-for="OrganizationsNameFilter" type="text"  class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Name)
                                <div class="input-group">
                                    <input asp-for="NameFilter" type="text" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Email)
                                <div class="input-group">
                                    <input asp-for="EmailFilter" type="text" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.ContactNumber)
                                <div class="input-group">
                                    <input asp-for="ContactNumberFilter" type="text" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.RoleName)
                                <select asp-for="RoleFilter" asp-items="Model.RolesList" class="form-select" onchange="loadData()">
                                    <option value="0">Select Role</option>
                                </select>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.CreatedOn)
                                <input asp-for="CreatedOnFilter" type="date"
                                       id="datepicker"
                                       class="form-control datepicker search-form-control"
                                       placeholder="Select Date" onchange="loadData()" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.UpdatedOn)
                                <input asp-for="UpdatedOnFilter" type="date"
                                       id="datepicker"
                                       class="form-control datepicker search-form-control"
                                       placeholder="Select Date" onchange="loadData()" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.RegistrationStatus)
                                <select asp-for="RegistrationStatusFilter" asp-items="Model.RegistrationStatusList" class="form-select" onchange="loadData()">
                                    <option value="0">Select Status</option>
                                </select>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.AccountStatus)
                                <select asp-for="AccountStatus" id="AccountStatusFilter" class="form-select" onchange="loadData()">
                                    <option value="" selected>Select Status</option>
                                    <option value="1">Enabled</option>
                                    <option value="0">Disabled</option>
                                  
                                </select>
                               
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.data.Any())
                        {
                            <tr>
                                <td colspan="8" class="text-center">No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SrNo)
                                    </td>
                                    <td>

                                        <form method="get" action="@Url.Action("RegisteredBusinessDetails", "ClientRegistration", new { id = item.Id })">
                                            <a method="get" asp-controller="ClientRegistration" asp-action="RegisteredBusinessDetails" asp-route-id="@item.Id" id="name-link">@Html.DisplayFor(modelItem => item.OrganizationsName)</a>
                                        </form>


                                        <span class="buisness-category">
                                            <span class="fw-medium">Category : </span>
                                            @if (item.Category != null){ @Html.DisplayFor(modelItem => item.Category)}
                                            else {<span>-</span>}
                                        </span>
                                        <span class="buisness-category">
                                            <span class="fw-medium">Client Id :</span>
                                            @if (item.ClientId != null){ @Html.DisplayFor(modelItem => item.ClientId)}
                                            else{<span>-</span> }       
                                        </span>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        <span class="date">@item.CreatedOn.ToString("dd MMM yyyy")</span>
                                        <span class="datetime">at @item.CreatedOn.ToString("hh:mm tt")</span>
                                    </td>
                                    <td>
                                        @if (item.UpdatedOn is not null)
                                        {
                                            <span class="date">@item.UpdatedOn?.ToString("dd MMM yyyy")</span>
                                            <span class="datetime">at @item.UpdatedOn?.ToString("hh:mm tt")</span>
                                        }
                                    </td>
                                    <td>
                                        <span class="badge @(item.RegistrationStatusName == "Active" ? "success" : "warning")">@Html.DisplayFor(modelItem => item.RegistrationStatusName)</span>
                                    </td>
                                    <td>
                                        <div class="action">
                                            <div class="form-check form-switch">
                                            
                                                @* <input asp-for="AccountStatus" class="form-check-input account-status-switch"
                                                       type="checkbox"
                                                       data-id="@item.Id"
                                                       data-templatename="@item.OrganizationsName"
                                                       id="flexSwitchCheckChecked_@item.Id"> *@

                                                @* <input asp-for="AccountStatus"
                                                       class="form-check-input account-status-switch"
                                                       type="checkbox"
                                                       data-id="@item.Id"
                                                       data-currentstatus="@item.AccountStatus"
                                                       id="flexSwitchCheckChecked_@item.Id" /> *@

                                                <input type="checkbox"
                                                       class="form-check-input account-status-switch"
                                                       data-id="@item.Id"
                                                       data-currentstatus="@item.AccountStatus"
                                                       id="flexSwitchCheckChecked_@item.Id"
                                                       @(item.AccountStatus == 1 ? "checked" : "") />

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.RegistrationStatusName == ClientRegistrationStatus.Pending.Get<DisplayAttribute>().Name)
                                        {
                                            <div class="action">
                                                <form method="get" action="@Url.Action("Edit", "ClientRegistration", new { id = item.Id })">
                                                    <a method="get" class="edit-icon" asp-controller="ClientRegistration" asp-action="Edit" asp-route-id="@item.Id"></a>
                                                </form>
                                            </div>
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_Pagination" model="new PaginationViewModel { PageNumber = Model.PageNumber, PageSize = Model.PageSize, TotalCount = Model.TotalCount }" />
        </div>
    </div>
</div>
<div class="modal fade confirmation-modal" id="AccountStatusModal" aria-labelledby="AccountStatusModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="delete-icon"></span>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3>Are You sure?</h3>
                </div>
                <p id="deleteModalText">Do you really want to Deactivate This Bussiness Account?</p>

                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button type="button" id="ConfirmDeleteBtn" class="btn primary-btn">Yes</button>
                    <button type="button" class="btn danger-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let selectedSwitch = null;
        let originalStatus = 0;

        $(".account-status-switch").on("click", function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            selectedSwitch = this;

                const id = $(this).data("id");
                originalStatus = parseInt($(this).data("currentstatus"));
                debugger;
        $("#ConfirmDeleteBtn").data("id", id);

         
            $(this).prop("checked", originalStatus === 1);

            $("#AccountStatusModal").modal("show");
        });




        $(document).on('click', '#ConfirmDeleteBtn', function (e) {
            e.preventDefault();
            commonHelper.showHideLoader(true);

            const ClientId = $(this).data("id");

            var req = {
                ClientId: ClientId,
                IsActivate: originalStatus === 1 ? 0 : 1  
            };

            var url = "@Url.ActionLink("ActivateDeactivateClientAccount", "ClientRegistration")";

            ajaxHelper.ajaxPost(url, null, req, function (response) {

                if (response.success) {

                    if (selectedSwitch) {
                        $(selectedSwitch).prop("checked", originalStatus === 1 ? false : true);
                    }
                    $("#AccountStatusModal").modal("hide");
                    selectedSwitch = null;
                    commonHelper.showToast(response.message);

                } else {
                    $("#AccountStatusModal").modal("hide");
                    selectedSwitch = null;
                    commonHelper.showToast(response.message);
                }
                commonHelper.showHideLoader(false);
            });
        });


        function loadData() {
            let nameFilter = $("[name=NameFilter]").val();
            let emailFilter = $("[name=EmailFilter]").val();
            let contactNumberFilter = $("[name=ContactNumberFilter]").val();
            let roleFilter = $("[name=RoleFilter]").val();
            let createdOnFilter = $("[name=CreatedOnFilter]").val();
            let updatedOnFilter = $("[name=UpdatedOnFilter]").val();
            let registrationStatusFilter = $("[name=RegistrationStatusFilter]").val();
           let OrganizationsNameFilter = $("[name=OrganizationsNameFilter]").val();

            let pageNumber = 1;
            location.href = '@Url.Action("List", "ClientRegistration")' +
                '?NameFilter=' + nameFilter +
                '&EmailFilter=' + encodeURIComponent(emailFilter) +
                '&ContactNumberFilter=' + encodeURIComponent(contactNumberFilter) +
                '&RoleFilter=' + encodeURIComponent(roleFilter) +
                '&CreatedOnFilter=' + encodeURIComponent(createdOnFilter) +
                '&UpdatedOnFilter=' + encodeURIComponent(updatedOnFilter) +
                '&RegistrationStatusFilter=' + encodeURIComponent(registrationStatusFilter) +
                '&OrganizationsNameFilter=' + encodeURIComponent(OrganizationsNameFilter) +
                '&PageNumber=' + pageNumber;
        }

        $(".srcIcon").on("keypress", function (e) {
            if (e.which === 13) {
                loadData();
            }
        });

        $(".page-link").click(function () {
            var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                let nameFilter = $("[name=NameFilter]").val();
                let emailFilter = $("[name=EmailFilter]").val();
                let contactNumberFilter = $("[name=ContactNumberFilter]").val();
                let roleFilter = $("[name=RoleFilter]").val();
                let createdOnFilter = $("[name=CreatedOnFilter]").val();
                let updatedOnFilter = $("[name=UpdatedOnFilter]").val();
                let registrationStatusFilter = $("[name=RegistrationStatusFilter]").val();
                 let OrganizationsNameFilter = $("[name=OrganizationsNameFilter]").val();
                location.href = '@Url.Action("List", "ClientRegistration")' +
                    '?NameFilter=' + nameFilter +
                    '&EmailFilter=' + encodeURIComponent(emailFilter) +
                    '&ContactNumberFilter=' + encodeURIComponent(contactNumberFilter) +
                    '&RoleFilter=' + encodeURIComponent(roleFilter) +
                    '&CreatedOnFilter=' + encodeURIComponent(createdOnFilter) +
                    '&UpdatedOnFilter=' + encodeURIComponent(updatedOnFilter) +
                    '&RegistrationStatusFilter=' + encodeURIComponent(registrationStatusFilter) +
                    '&OrganizationsNameFilter=' + encodeURIComponent(OrganizationsNameFilter) +
                    '&PageNumber=' + pageNumber;
            }
        });

        $(document).on('click', '#name-link', function () {
            commonHelper.showHideLoader(true);
        });
    </script>
}