@using F4ConversationCloud.Domain.Enum
@model F4ConversationCloud.ClientAdmin.Models.TemplateModel.TemplatesListViewModel;
@{
    ViewData["Title"] = "template preview  List";
}
<!-- Message Modal -->

<div class="modal-header">
    <span class="lighttext d-block">Preview</span>
    <h5 class="modal-title">@Model.templateDetail.TemplateName</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


<div class="modal-body">
    <div class="template-preview">
        <div class="swiper-card">
            <div class="template-slide-card">
            
               
                    @if (Model.templateDetail.HeaderType == "HEADER")
                    {   @if (Model.templateDetail.HeaderFormat == "IMAGE" )
                        {
                            <span>

                                <img src="@Model.templateDetail.HeaderMediaUrl" alt="Header Image">
                            </span>
                        }
                        <div class="description">
                            @if (@Model.templateDetail.HeaderFormat == "TEXT")
                            {
                            <p><strong>@Html.Raw(Model.templateDetail.HeaderText)</strong></p>
                            }

                        
                            @if (Model.templateDetail.HeaderFormat == "DOCUMENT")
                            {
                                <span>
                                <embed src="@Model.templateDetail.HeaderMediaUrl"
                                       type="application/pdf"
                                       width="200"
                                       height="250" />
                                </span>
                            }
                        </div>
                    }
                    <div class="description">
                        @if (Model.templateDetail.BodyType == "BODY")
                        {

                            <p>@Html.Raw(Model.templateDetail.BodyText)</p>

                        }
                        @if (Model.templateDetail.FooterType == "FOOTER")
                        {
                        <span class="description-small-text">@Html.Raw(Model.templateDetail.FooterText)</span>
                           

                        }
                    </div>
                
                <div class="time">@Model.templateDetail.ModifiedOn?.ToString("hh:mm tt")</div>
            </div>
            @if (Model.templateDetail.TemplateButtons.Any())
            {
                <div class="buy-link">
                    
                    @foreach (var button in Model.templateDetail.TemplateButtons)
                    {
                        if (button.ButtonActionType == ButtonActionType.URL)
                        {
                            <a href="@button.ButtonUrl" target="_blank">
                                <i class="buy-icon"></i> @button.ButtonText
                            </a>
                        }

                        if (button.ButtonActionType == ButtonActionType.PHONE_NUMBER)
                        {
                            <a href="tel:@button.ButtonPhoneNumber">
                                <i class="call"></i> @button.ButtonText
                            </a>
                        }

                        if (button.ButtonActionType == ButtonActionType.QUICK_REPLY)
                        {
                            <a href="#">
                                <i class="backward"></i> @button.ButtonText
                            </a>
                        }
                        @* <div class="buy-link">
                            <a href="#"><i class="buy-icon"></i> Buy Now</a>
                            <a href="#"><i class="forward"></i> My Account Balance</a>
                           
                            
                            <a href="#"><i class="copy-code"></i> Copy Code </a>
                        </div> *@
                    }

                </div>
                

            }
            
        </div>
    </div>
</div>

