@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F4ConversationCloud.SuperAdmin</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
    <div id="custom-loader" class="position-fixed top-0 h-100 w-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 overflow-hidden" style="z-index:1060"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>

    <div class="page">
        <!-- side Bar -->
        <aside class="app-sidebar">
            <div class="sidenav-content">
                <a asp-controller="Dashboard" asp-action="Index" class="main-sidebar-header"><img src="~/images/logo.svg" /></a>
                <div class="main-side-navigation">
                    <nav>
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                                <a asp-controller="Dashboard" asp-action="Index" class="home icon">Dashboard</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "ClientManagement" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="ClientManagement" asp-action="List" class="users icon">Clients</a>
                            </li>
                            <li class ="@(ViewContext.RouteData.Values["controller"]?.ToString() == "UserManagement" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="UserManagement" asp-action="List" class="user icon">User Management</a>
                            </li>
                            <li class ="@(ViewContext.RouteData.Values["controller"]?.ToString() == "ClientUserManagement" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="ClientUserManagement" asp-action="List" class="user icon">Client User Management</a>
                            </li>
                            <li class ="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Usages" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="Usages" asp-action="List" class="usages icon">Usages</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Billing" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="Billing" asp-action="List" class="billing icon">Billing</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "ActivityLog" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="ActivityLog" asp-action="List" class="log icon">Activity Log</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "MasterPrice" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                                <a asp-controller="MasterPrice" asp-action="List" class="billing icon">Master Price</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "MasterTax" && ViewContext.RouteData.Values["action"]?.ToString() == "Create" ? "active" : "")">
                                <a asp-controller="MasterTax" asp-action="Create" class="tax icon">Master Tax</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Configuration" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                                <a asp-controller="Configuration" asp-action="Index" class="cofig icon">Configuration</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        <!--End side Bar -->

        <div class="main-content">
            <header class="app-header">
                <div class="appheader-wrap">
                    <span class="burger" id="toggleButton">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>
                    <div class="profile-dropdown ms-auto">
                        <div class="profile">
                            <div class="dropdown">
                                <a class="dropdown-wrap" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <span class="profile-name">@User.FindFirstValue(ClaimTypes.Name)?.Substring(0, 1)</span>
                                    <div>
                                        <p>@User.FindFirstValue(ClaimTypes.Name)</p>
                                        <span class="profile-role">@User.FindFirstValue(ClaimTypes.Role)</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a asp-controller="Auth" asp-action="Logout" class="dropdown-item signout">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">
                        Copyright © <span id="year"> 2025 </span>. Designed by
                        <a href="https://www.fortune4.in/" target="_blank"> <span> Fortune4 Technogies. </span> </a>
                        All rights reserved
                    </span>
                </div>
            </footer>
        </div>
    </div>
    <div class="toastWrap">
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/commonHelper.js" asp-append-version="true"></script>
    <script src="~/js/ajaxhelper.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            commonHelper.showHideLoader(true);

            $('#toggleButton').on('click', function() {
                $('body').toggleClass('sidemenutoggle');
            });

            var toastMsg = @Html.Raw(Json.Serialize(ViewData["ToastMsg"]));

            if (toastMsg != null && toastMsg != undefined) {
                if (toastMsg.type === "Success")
                    commonHelper.showSuccess(toastMsg.message);
                else if (toastMsg.type === "Error")
                    commonHelper.showError(toastMsg.message);
            }
            commonHelper.showHideLoader(false);
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
