@using Newtonsoft.Json
@model F4ConversationCloud.SuperAdmin.Models.TemplatesListViewModel

<h2 class="accordion-header" id="headingThirtyTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThirtyTwo" aria-expanded="false" aria-controls="collapseThirtyTwo">
        Templates <span class="light-text ms-1">(@Model.TotalCount)</span>
    </button>
</h2>
<div id="collapseThirtyTwo" class="accordion-collapse collapse" aria-labelledby="headingThirtyTwo"
     data-bs-parent="#accordionExample">
    <div class="accordion-body">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="lighttext">Created Templates are @Model.TotalCount</span>
            @* <a href="@Url.Action("CreateTemplate", "TemplateManagement")" class="btn primary-btn d-flex" id="create-template-btn">Create Templates</a> *@
            <div class="d-flex align-items-center gap-2">
                <div class="form-wrapper">
                    <select id="templateStatusFilter" onchange="loadData()" asp-for="IsActivate" class="form-select">
                        <option value="1" selected>Activate</option>
                        <option value="0">Deactivate</option>
                    </select>
                </div>
               
                <a href="@Url.Action("CreateTemplate", "TemplateManagement")" class="btn primary-btn d-flex" id="create-template-btn">Create Templates</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table user-table form-wrapper">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Columns.SrNo)</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Columns.TemplateName)
                            <div class="input-group">
                                <input asp-for="TemplateNameFilter" type="text" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                <span class="searchIcon" onclick="loadData()"></span>
                            </div>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Columns.TemplateCategory)
                            <select asp-for="TemplateCategoryFilter" asp-items="Model.TemplateCategoryList" class="form-select" onchange="loadData()">
                                <option value="0">Select Status</option>
                            </select>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Columns.Language)
                            <select asp-for="LanguageFilter" asp-items="Model.LanguageList" class="form-select" onchange="loadData()">
                                <option value="0">Select Status</option>
                            </select>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Columns.CreatedOn)
                            <input asp-for="CreatedOnFilter" type="date"
                                   id="datepicker"
                                   class="form-control datepicker search-form-control"
                                   placeholder="Select Date" onchange="loadData()" />

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Columns.Status)
                            <select asp-for="StatusFilter" asp-items="Model.StatusList" class="form-select" onchange="loadData()">
                                <option value="0">Select Status</option>
                            </select>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.data.Any())
                    {
                        <tr>
                            <td colspan="7" class="text-center">No Records Found</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.data)
                        {
                            var buttonsJson = Html.Raw(JsonConvert.SerializeObject(
                            item.buttons ?? new List<F4ConversationCloud.SuperAdmin.Models.TemplatesListViewModel.TemplateListViewItem.Button>()
                            ));
                            <tr>
                                <td align="center">@Html.DisplayFor(modelItem => item.SrNo)</td>
                                <td>
                                    <span class="message-block">
                                        @Html.DisplayFor(modelItem => item.TemplateName)
                                    </span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.TemplateCategory)</td>
                                <td>@Html.DisplayFor(modelItem => item.Language)</td>
                                <td>
                                    <span class="date">@item.CreatedOn.ToString("dd MMM yyyy")</span>
                                    <span class="datetime">at @item.CreatedOn.ToString("hh:mm tt")</span>
                                </td>
                                <td>
                                    @{
                                        string badgeClass = item.Status switch
                                        {
                                            "PENDING" => "warning",
                                            "APPROVED" => "success",
                                            "REJECTED" => "danger",
                                            _ => "secondary" 
                                        };
                                    }
                                    <span class="badge @badgeClass">@Html.DisplayFor(modelItem => item.Status)</span>
                                </td>
                                
                                <td>
                                    <div class="action">
                                        @if(item.IsActive == 1)
                                        {
                                            <form method="get" action="@Url.Action("UpdateTemplate", "TemplateManagement", new { id = item.Id })">
                                                <a method="get" class="edit-icon" asp-controller="TemplateManagement" asp-action="UpdateTemplate" asp-route-id="@item.Id"></a>
                                            </form>
                                            <a class="delete-blue" data-bs-toggle="modal" href="#deleteModal" data-id="@item.Id" data-templatename="@item.TemplateName" role="button"></a>
                                           
                                        }
                                        else 
                                        {
                                            <a href="javascript:void(0);"
                                               class="activate-template-btn reset"
                                               data-bs-toggle="modal"
                                               data-bs-target="#ActivateTemplateModal"
                                               data-id="@item.Id"
                                               data-templatename="@item.TemplateName">
                                            </a>
                                        }



                                       <a href="#" class="view" data-bs-toggle="modal" data-bs-target="#template-preview-modal" id="template-view"
                                           data-templatename="@item.TemplateName"
                                           data-templateheadertext="@item.HeaderText"
                                           data-templateheaderexample="@item.HeaderExample"
                                           data-templatebodytext="@item.BodyText"
                                           data-templatebodyexample="@item.BodyExample"
                                           data-templatefooter="@item.FooterText" 
                                           data-headermediaurl="@item.HeaderMediaUrl"
                                           data-buttons="@buttonsJson.ToString()">
                                       </a>
                                    </div>
                                </td>
                                
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <partial name="_Pagination" model="new PaginationViewModel { PageNumber = Model.PageNumber, PageSize = Model.PageSize, TotalCount = Model.TotalCount }" />
    </div>
</div>

<div class="modal fade confirmation-modal" id="deleteModal" aria-labelledby="deleteModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="delete-icon"></span>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3>Are You sure?</h3>
                </div>
                <p id="deleteModalText">Do you really want to delete this Template?</p>

                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button type="button" id="ConfirmDeleteBtn" class="btn primary-btn">Yes</button>
                    <button type="button" class="btn danger-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade confirmation-modal" id="ActivateTemplateModal" aria-labelledby="activateModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="activate-icon"></span>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h3>Are You sure?</h3>
                </div>
                <p id="activateModalText">Do you really want to activate this Template?</p>

                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button type="button" id="ConfirmActivateBtn" class="btn primary-btn">Yes</button>
                    <button type="button" class="btn danger-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

