@using F4ConversationCloud.Application.Common.Models.SuperAdmin
@model F4ConversationCloud.SuperAdmin.Models.BillingListViewModel
@{
    ViewData["Title"] = "Billing";
}
<div class="content">
    <div class="container-fluid">


        <div class="card padding">
            <div class="header-content">
                <h3 class="sub-heading">Billing</h3>
                <!-- <div class="d-flex form-wrapper align-items-end gap-2">
                    <div>

                        <div id="reportrange"  class="reportrange form-control date-form-control">
                                <i class="dateIcon"></i>&nbsp;
                                <span></span>
                        </div>
                    </div>

                </div> -->
            </div>

            <div class="table-responsive">
                <table class="table user-table billing-table form-wrapper">
                    <thead>
                        <tr>
                            <th>Sr. <br>No</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Columns.OrganizationName)
                                <div class="input-group">
                                    <input asp-for="OrganizationsNameFilter" type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.WabaPhoneNumber)
                                <div class="input-group">
                                    <input asp-for="WabaPhoneNumberFilter" type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.WhatsAppDisplayName)
                                <div class="input-group">
                                    <input asp-for="WhatsAppDisplayNameFilter" type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>Messages</th>
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                    <tbody>
                        @if (!Model.data.Any())
                        {
                            <tr>
                                <td colspan="8" class="text-center">No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            var anyRowDisplayed = false;

                            foreach (var item in Model.data)
                            {
                                var phoneNumbers = (item.WabaPhoneNumber ?? "").Split(',', StringSplitOptions.RemoveEmptyEntries);
                                var PhoneNumberId = (item.phoneNumberId ?? "").Split(',', StringSplitOptions.RemoveEmptyEntries);
                                var displayNames = (item.WhatsAppDisplayName ?? "").Split(',', StringSplitOptions.RemoveEmptyEntries);
                                var metaConfigId = (item.MetaConfigid ?? "").Split(',', StringSplitOptions.RemoveEmptyEntries);
                                for (int p = 0; p < phoneNumbers.Length; p++)
                                {
                                    int maxRows = 3;

                                    for (int i = 0; i < maxRows; i++)
                                    {
                                        TemplateMessageInsightsListViewItem insight = null;
                                        string conversationType = "";

                                        switch (i)
                                        {
                                            case 0:
                                                insight = item.TemplateInsightsList?.FirstOrDefault(x => x.ConversationType == "All");
                                                conversationType = "All";
                                                break;
                                            
                                        }

                                        bool skipRow = ((insight == null || insight.TotalMessageSentCount == 0));
                                        if (skipRow)
                                            continue;

                                        anyRowDisplayed = true;

                                        <tr>
                                            @if (p == 0 && i == 0)
                                            {
                                                <td rowspan="@(phoneNumbers.Length * 3)" class="text-center">@item.SrNo</td>
                                                <td rowspan="@(phoneNumbers.Length * 3)">
                                                    <a method="get" asp-controller="ClientRegistration" asp-action="RegisteredBusinessDetails" asp-route-id="@item.ClientInfoId" class="mb-1 d-block" id="name-link">
                                                        @Html.DisplayFor(modelItem => item.OrganizationsName)
                                                    </a>
                                                    <span class="business-category">
                                                        <span class="fw-medium">Client Id: </span>@item.ClientId
                                                    </span>
                                                </td>
                                            }

                                            @if (i == 0)
                                            {
                                                <td rowspan="3">
                                                    <a method="get"
                                                       asp-controller="ClientManagement"
                                                       asp-action="ClientDetails"
                                                       asp-route-id="@metaConfigId[p]"
                                                       asp-route-activeTab="client-tab"
                                                       class="mb-1 d-block"
                                                       id="name-link">
                                                        @phoneNumbers[p]
                                                    </a>
                                                </td>
                                                <td rowspan="3">
                                                    @displayNames.ElementAtOrDefault(p)
                                                </td>
                                            }
                                            @if (i == 0)
                                            {
                                                <td>@(insight?.TotalMessageSentCount ?? 0)</td>
                                                <td>₹@(insight?.TotalAmount ?? 0)</td>
                                            }
                                            @if (p == 0 && i == 0)
                                            {                                              
                                                <td rowspan="@(phoneNumbers.Length * 3)">
                                                    <div class="action justify-content-center">
                                                       
                                                        @* <a method="get"
                                                           asp-controller="Billing"
                                                           asp-action="billingDetails"
                                                           asp-route-id="@PhoneNumberId[p]"
                                                           class="eye-blue"
                                                         >                                                      
                                                        </a> *@

                                                        <a href="@Url.Action("billingDetails", "Billing", new { PhoneNumberId = PhoneNumberId[p], MetaConfigId = metaConfigId[p] })"
                                                    class="eye-blue">
                                                            
                                                </a>

                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                            @* <tr>
                                <td><a href="buisness-details.html">+91-9123456954</a></td>
                                <td>BLO | BrightLeaf Organics</td>
                                <td>132</td>
                                <td align="right">₹400.76</td>
                                <td>
                                    <div class="action justify-content-center">
                                        <a href="billing-details.html" class="eye-blue"></a>

                                    </div>
                                </td>


                            </tr> *@

                            if (!anyRowDisplayed)
                            {
                                <tr>
                                    <td colspan="8" class="text-center">No Records Found</td>
                                </tr>
                            }
                        }
                    </tbody>

                       
                   
                </table>
            </div>
            <partial name="_Pagination" model="new PaginationViewModel { PageNumber = Model.PageNumber, PageSize = Model.PageSize, TotalCount = Model.TotalCount }" />
        </div>

    </div>
</div>
@section Scripts {

    <script>
        


   $(document).ready(function () {

            function loadData() {
            let organizationsNameFilter = $("[name=OrganizationsNameFilter]").val();
            let wabaPhoneNumberFilter = $("[name=WabaPhoneNumberFilter]").val();
            let whatsAppDisplayNameFilter = $("[name=WhatsAppDisplayNameFilter]").val();
            let pageNumber = 1;
                    location.href = '@Url.Action("List", "Billing")' +
                    '?WhatsAppDisplayNameFilter=' + whatsAppDisplayNameFilter +
                    '&WabaPhoneNumberFilter=' + encodeURIComponent(wabaPhoneNumberFilter) +
                    '&organizationsNameFilter=' + encodeURIComponent(organizationsNameFilter) +
                    '&PageNumber=' + pageNumber;
        }
        $(".page-link").click(function () {
        var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                    let organizationsNameFilter = $("[name=OrganizationsNameFilter]").val();
                    let wabaPhoneNumberFilter = $("[name=WabaPhoneNumberFilter]").val();
                    let whatsAppDisplayNameFilter = $("[name=WhatsAppDisplayNameFilter]").val();
                      location.href = '@Url.Action("List", "Billing")' +
                        '?WhatsAppDisplayNameFilter=' + whatsAppDisplayNameFilter +
                        '&WabaPhoneNumberFilter=' + encodeURIComponent(wabaPhoneNumberFilter) +
                        '&organizationsNameFilter=' + encodeURIComponent(organizationsNameFilter) +
                        '&PageNumber=' + pageNumber;
            }
        });


        $(".srcIcon").on("keypress", function (e) {
            if (e.which == 13) {
                loadData();
            }
        });

   });

    </script>
}