@model F4ConversationCloud.SuperAdmin.Models.BusinessAccountListViewModel
@{
    ViewData["Title"] = "Client List";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header-content">
                <h3 class="sub-heading">Business Accounts <span class="light-text ms-1">(@Model.TotalCount)</span> </h3>
            </div>

            <div class="table-responsive">
                <table class="table user-table form-wrapper">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Columns.SrNo)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Organizations)
                                <div class="input-group">
                                    <input type="text" asp-for="OrganizationsFilter" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.PhoneNumber)
                                <div class="input-group">
                                    <input type="text" asp-for="PhoneNumberFilter" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.CreatedAt)
                                <label class="datewrap" for="datepicker">
                                    <input type="date" asp-for="OnboardingOnFilter"
                                           class="form-control search-form-control"
                                           placeholder="Select Date" onchange="loadData()" />
                                </label>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.data.Any())
                        {
                            <tr>
                                <td colspan="6" class="text-center">No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.SrNo)</td>
                                    <td>
                                        <form method="get" action="@Url.Action("RegisteredBusinessDetails", "ClientRegistration", new { id = item.Id })">
                                            <a method="get" asp-controller="ClientRegistration" asp-action="RegisteredBusinessDetails" asp-route-id="@item.Id" id="name-link">@Html.DisplayFor(modelItem => item.Organizations)</a>
                                        </form>

                                        @* <span class="buisness-category"><span class="fw-medium">Category :</span> @Html.DisplayFor(modelItem => item.Category)</span> *@
                                        <span class="buisness-category"><span class="fw-medium">Client Id :</span> @Html.DisplayFor(modelItem => item.ClientId)</span>
                                        <a href="@Url.Action("RegisteredBusinessDetails", "ClientRegistration", new { id = item.Id })" class="text-decoration-none"><span>WABA Accounts :@Html.DisplayFor(modelItem => item.ClientWaBaAccCount)</span></a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        <span class="date">@item.CreatedAt.ToString("dd MMM yyyy")</span>
                                        <span class="datetime">at @item.CreatedAt.ToString("hh:mm tt")</span>
                                    </td>
                                   
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- Reject comment Modal -->
@* <div class="modal fade comment-modal" id="reject-comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="action-icon reject"></span>
                <h4>Rejected Comment</h4>
                <p id="reject-comment-text"></p>
            </div>
        </div>
    </div>
</div> *@
<!--end Reject comment Modal -->

@section Scripts {
    <script>  
        function loadData() {
            var OrganizationsFilter = $("[name=OrganizationsFilter]").val();
            var PhoneNumberFilter = $("[name=PhoneNumberFilter]").val();
            var onboardingFilter = $("[name=OnboardingOnFilter]").val();
            var pageNumber = 1;
            location.href = '@Url.Action("List", "ClientManagement")' +
                '?OrganizationsFilter=' + OrganizationsFilter +
                '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                '&PhoneNumberFilter=' + encodeURIComponent(PhoneNumberFilter) +
                '&PageNumber=' + pageNumber;
        }

        $(".page-link").click(function () {
            var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                   var OrganizationsFilter = $("[name=OrganizationsFilter]").val();
                   var PhoneNumberFilter = $("[name=PhoneNumberFilter]").val();
                   var onboardingFilter = $("[name=OnboardingOnFilter]").val();

                location.href = '@Url.Action("List", "ClientManagement")' +
                     '?OrganizationsFilter=' + OrganizationsFilter +
                    '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                    '&PhoneNumberFilter=' + encodeURIComponent(PhoneNumberFilter) +
                    '&PageNumber=' + pageNumber;
            }
        });

        $(".srcIcon").on("keypress", function (e) {
            if (e.which === 13) {
                loadData();
            }
        });

        // function addRejectComment(comment){
        //     var modal = new bootstrap.Modal(document.getElementById('reject-comment-modal'));
        //     modal.show();

        //     $('#reject-comment-text').text(comment);
        // }

        $(document).on('click', '#name-link', function () {
            commonHelper.showHideLoader(true);
        });
    </script>
}