@model F4ConversationCloud.SuperAdmin.Models.ClientManagementViewModel
@{
    ViewData["Title"] = "Client List";
}

<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Client List</h3>
        <div class="card padding">
            <div class="table-responsive">
                <table class="table user-table form-wrapper">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Columns.SrNo)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.ClientName)
                                <div class="input-group">
                                    <input type="text" asp-for="ClientNameSearch" class="form-control srcIcon" placeholder="Search" id="searchInput">
                                    <span class="searchIcon" onclick="loadData()"></span>
                                </div>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.CreatedAt)
                                <label class="datewrap" for="datepicker">
                                    <input type="date" asp-for="OnboardingOnFilter"
                                           class="form-control search-form-control"
                                           placeholder="Select Date" onchange="loadData()" />
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.Status)
                                <select asp-for="StatusFilter" class="form-select" onchange="loadData()">
                                    <option value="" selected>Select Status</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Connected">Connected</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </th>
                            <th>Reject Comments</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Columns.ApprovalStatus)
                                <select asp-for="ApprovalStatusFilter" class="form-select" onchange="loadData()">
                                    <option value="" selected>Select Status</option>
                                    <option value="Approve">Approve</option>
                                    <option value="Reject">Reject</option>
                                    <option value="Pending">Pending</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.data.Any())
                        {
                            <tr>
                                <td colspan="6" class="text-center">No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.data)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.SrNo)</td>
                                    <td>
                                        <form method="get" action="@Url.Action("ClientDetails", "ClientManagement", new { id = item.Id })">
                                            <a method="get" asp-controller="ClientManagement" asp-action="ClientDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ClientName)</a>
                                        </form>
                                        <span class="buisness-category">@Html.DisplayFor(modelItem => item.Category)</span>
                                    </td>
                                    <td>
                                        <span>@Html.DisplayFor(modelItem => item.CreatedAt)</span>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>
                                        <span class="message-block">
                                            -
                                        </span>
                                    </td>
                                    <td>
                                        @{
                                            var badgeClass = item.ApprovalStatus == "Approved" ? "success"
                                            : item.ApprovalStatus == "Reject" ? "danger"
                                            : "warning";
                                        }
                                        <span class="badge @badgeClass">@Html.DisplayFor(modelItem => item.ApprovalStatus)</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_Pagination" model="new PaginationViewModel { PageNumber = Model.PageNumber, PageSize = Model.PageSize, TotalCount = Model.TotalCount }" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadData() {
            var clientNameSearch = $("[name=ClientNameSearch]").val();
            var onboardingFilter = $("[name=OnboardingOnFilter]").val();
            var statusFilter = $("[name=StatusFilter]").val();
            var approvalStatusFilter = $("[name=ApprovalStatusFilter]").val();
            var pageNumber = 1;
            location.href = '@Url.Action("List", "ClientManagement")' +
                '?clientNameSearch=' + clientNameSearch +
                '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                '&statusFilter=' + encodeURIComponent(statusFilter) +
                '&approvalStatusFilter=' + encodeURIComponent(approvalStatusFilter) +
                '&PageNumber=' + pageNumber;
        }

        $(".page-link").click(function () {
            var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                var clientNameSearch = $("[name=ClientNameSearch]").val();
                var onboardingFilter = $("[name=OnboardingOnFilter]").val();
                var statusFilter = $("[name=StatusFilter]").val();
                var approvalStatusFilter = $("[name=ApprovalStatusFilter]").val();

                location.href = '@Url.Action("List", "ClientManagement")' +
                    '?clientNameSearch=' + clientNameSearch +
                    '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                    '&statusFilter=' + encodeURIComponent(statusFilter) +
                    '&approvalStatusFilter=' + encodeURIComponent(approvalStatusFilter) +
                    '&PageNumber=' + pageNumber;
            }
        });

        $("#searchInput").on("keypress", function (e) {
            if (e.which === 13) {
                loadData();
            }
        });

    </script>
}