<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Onboarding-Registration</title>
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">

    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body class="no-backdrop">
    <div class="loginwrapper">
        <div class="loginBox">

            <div class="left-col">
                <a href="#" class="logo">
                    <img src="../images/logo.svg" />
                </a>
                <p>
                    Your Journey Begins Here. Step into a seamless experience where you're guided,
                    supported, and equipped with everything you need to thrive. From understanding our
                    culture to connecting with your team, we make sure your first steps are confident
                    and meaningful.
                </p>
            </div>

            <div class="right-col">
                <div class="loader-wrapper" id="loader">
                    <div class="loader"></div>
                </div>
                <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
                    <div id="liveToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div id="toastMessage" class="toast-body">
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <input type="hidden" class="temp-message" data-type="success" value="@TempData["SuccessMessage"]" />
                }
                @if (TempData["WarningMessage"] != null)
                {
                    <input type="hidden" class="temp-message" data-type="warning" value="@TempData["WarningMessage"]" />
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <input type="hidden" class="temp-message" data-type="danger" value="@TempData["ErrorMessage"]" />
                }
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
       
    </script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>
    <script src="~/js/AjaxHelper.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

